aiofiles
aiogram
aiohttp
aiosignal
annotated-types
APScheduler
async-timeout
attrs
certifi
charset-normalizer
frozenlist
idna
magic-filter
multidict
pip
pydantic
pydantic_core
pytz
setuptools
six
typing_extensions
tzdata
tzlocal
wheel
yarl